
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .wrapper-grid {
    display: grid;
    grid-template-columns: minmax(100, 1fr);
    grid-gap: 30px;
    justify-content: center;
    background-color: #32a86d;
  }
  .container {
    overflow: hidden;
    background-color:#326da8;
    position: relative;
    height:285px;
    text-align: center;
  }
  @media screen and (max-width: 768px) {
    body{
      background-color:#a83242;
    }
    .wrapper-grid {
      grid-template-columns: repeat(1, 1fr);
      margin:15px 15px 15px 15px;
    }
  }
  @media screen and (min-width: 769px) {
    body{
      background-color:#32a86d;
    }
    .wrapper-grid {
      grid-template-columns: repeat(3, 1fr);
      margin:30px 30px 30px 30px;
    }
  }